/* Tailwind */
@import "tailwindcss";

@theme{
	--font-sans:"Kokoro","sans-serif";
	--font-mono:"Jetbrains Mono";
}

@plugin "@tailwindcss/typography";
@plugin "@tailwindcss/forms";
@plugin "tailwind-scrollbar";


/* Daisyui */
@plugin "daisyui";
@plugin "daisyui/theme" {
	name: "kokoro";
	default: true;
	prefersdark: true;
	color-scheme: dark;
	--color-base-100: "#070519";
	/* --color-base-200: oklch(95% 0.03 240); */
	/* --color-base-300: oklch(92% 0.04 240); */
	/* --color-base-content: oklch(20% 0.05 240); */
  
	--color-primary: "#7569E1";
	/* --color-primary-content: oklch(98% 0.01 240); */
  
	--color-secondary: "#03020C";
	/* --color-secondary-content: oklch(98% 0.01 200); */
  
	--color-accent:"#FFF7F8";
	/* --color-accent-content: oklch(98% 0.01 160); */
  
	--color-neutral: "#1E2036";
	/* --color-neutral-content: oklch(98% 0.01 240); */
  
	--color-info: "#DCD9F7";
	/* --color-info-content: oklch(98% 0.01 220); */
  
	--color-success: "#6FCF97";
	/* --color-success-content: oklch(98% 0.01 140); */
  
	--color-warning: "#EDD68D";
	/* --color-warning-content: oklch(20% 0.05 80); */
  
	--color-error: "#EB5757";
	/* --color-error-content: oklch(98% 0.01 30); */
  }

html {
	@apply bg-black;
}